<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <script src="https://kids.nucclus.site/js/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=480">
    <title>
        Багатофункціональний дитячий спальник
    </title>

    <link rel="shortcut icon" href="https://kids.nucclus.site/images/favicon.png">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '723888869344471');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=723888869344471&amp;ev=PageView&amp;noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '829580191480754');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=829580191480754&amp;ev=PageView&amp;noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2209710882545251');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=2209710882545251&amp;ev=PageView&amp;noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->

</head>

<body>
    <!--main_wrapper-->
    <div class="main_wrapper">
        <!--offer_section-->
        <header class="offer_section">
            <h1 class="main_title"><span>Багатофункціональний</span> дитячий спальник</h1>
            <div class="offer_image">

                <img class="offer_product" src="images/site1.jpeg" alt>

                <!--    <div class="year">2021</div> -->
            </div>
            <ul class="ofr_bull">
                <li>
                    <p><span>Якісні </span>матеріали</p>
                </li>
                <li>
                    <p><span>Простий </span> у використанні</p>
                </li>
                <li>
                    <p><span>3 в 1</span></p>
                </li>
            </ul>
            <div class="price clearfix">
                <div class="old">
                    <p>Звичайна ціна:</p>
                    <span>1350</span><small>грн</small>
                </div>
                <div class="new">
                    <p>Ціна акційна:</p>
                    <span>699</span><small>грн</small>
                </div>
            </div>
            <div class="date_sale">
                * Пропозиція дійсна <br>з 15.11.2023

                {{!--
                <script>
                    dayMs = 86400000 * 7;
                    Data = new Date(new Date() - dayMs);
                    Year = Data.getFullYear();
                    Month = Data.getMonth() + 1;
                    Day = Data.getDate();
                    if (Day < 10) {
                        Day = "0" + Day;
                    }
                    if (Month < 10) {
                        Month = "0" + Month;
                    }
                    { { !--document.write("" + Day + "." + Month + "." + Year + ""); --} }
                </script> --}}
                по 25.11.2023
                {{!--
                <script>
                    dayMs = 86400000 * 0;
                    Data = new Date(new Date() - dayMs);
                    Year = Data.getFullYear();
                    Month = Data.getMonth() + 1;
                    Day = Data.getDate();
                    if (Day < 10) {
                        Day = "0" + Day;
                    }
                    if (Month < 10) {
                        Month = "0" + Month;
                    }
                    document.write("" + Day + "." + Month + "." + Year + "");
                </script> --}}
                Включно.
            </div>
            <div class="timer_block clearfix">
                {{!-- <p>До кінця дії залишилося:</p>
                <div id="countdown" class="countdown">
                    {{!-- <div class="countdown-number days">
                        <span class="days countdown-time "></span>
                        <span class="countdown-text">Days</span>
                    </div> --}}
                    {{!-- <div class="countdown-number">
                        <span class="hours countdown-time"></span>
                        <span class="countdown-text">Години</span>
                    </div> --}}
                    {{!-- <div class="countdown-number">
                        <span class="minutes countdown-time"></span>
                        <span class="countdown-text">Хвилина</span>
                    </div>
                    <div class="countdown-number">
                        <span class="seconds countdown-time"></span>
                        <span class="countdown-text">Секунда</span>
                    </div> --}}
                </div> --}}
                <a href="https://t.me/+380635472362?start=I want to order" class="button-m">ЗАМОВИТИ ЗІ ЗНИЖКОЮ</a>
                <div class="products_count">
                    Залишилося товару по акції: <span>9 шт.</span>
                </div>
        </header>
        <!--/offer_section-->
        <div class="videoblock">
            <h2 class="title">
                <!-- ДУЖЕ КОРИСНИЙ <span>ЗБІРНО-РОЗБІРНИЙ
ІНСТРУМЕНТ-->
            </h2>
            <!--  <div class="video-container shadow">
         <div class="youtube" id="1UztCKnPFAY"></div>
      </div>
     <p> </p>
      <img src="images/product.jpg" alt="">
     -->
            <p>
                <b>Зокрема, Сліпік можна використовувати не тільки за своїм прямим призначенням, але також як </b>
            </p>
            <ul class="benef1">
                <li>
                    <img src="images/sp.png" alt>
                    <p>СПАЛЬНИК</p>
                </li>
                <li>
                    <img src="images/igr.png" alt>
                    <p>ІГРАШКА</p>
                </li>
                <li>
                    <img src="images/pod.png" alt>
                    <p>ПОДУШКА</p>
                </li>
            </ul>
            <p>
                <b>За лічені секунди Сліпік перетворюється з іграшки в забавний спальний мішок з вбудованою
                    подушкою!</b>
            </p>
            <a href="#order_form" class="button-m">Замовити зараз</a>
        </div>
        <!--b1-->
        <section class="b1">
            <h2 class="title">
                Чому варто замовити <span> СПАЛЬНИК 3 в 1?</span>
            </h2>
            <!--list-v1-->
            <ul class="list-v1">
                <li>
                    <h4>Якiснi матеріали</h4>
                    <p>
                        Зовні спальник оздобленний м яким велюром на баавовняній основі, внутрішняя частина 100% бавовна
                        та гіпоалергенний наповнювач.
                    </p>
                </li>
                <li>
                    <h4>Багатофункціональний 3 в 1 </h4>
                    <p>Спальний мішок легко складаеться, і перетворюється в іграшку подушку. У складеному вигляді: 47 х
                        47 х 10 см; у розкладеному вигляді: 140 x 45 x 10 см </p>
                </li>
                <li>
                    <h4>Простий у використанні </h4>
                    <p>
                        Компактний, зручна ручка, яку легко тримати, ваша дитина може брати куди завгодно.
                    </p>
                </li>
            </ul>
            <!--/list-v1-->
        </section>
        <!--/b1-->
        <!--sect_1-->
        <section class="sect_1">
            <h2 class="title">
                <span>В НАЯВНОСТІ </span>Є РІЗНІ КОЛЬОРИ ТА ТВАРИНКИ
            </h2>
            <ul class="list_4">
                <li>
                    <div class="text">
                        <img src="images/green.png" alt>
                    </div>
                </li>
                <li>
                    <div class="text">
                        <img src="images/pink.jpg" alt>
                    </div>
                </li>
                <li>
                    <div class="text">
                        <img src="images/yellow.jpg" alt>
                    </div>
                </li>
            </ul>
            <img src="images/yellow1.png" alt="">
        </section>
        <!--/sect_1-->
        <section class="sect_2">
            <h2 class="title">Чудовий подарунок дитині на <span> будь-яке свято</span></h2>

            <div class="youtube"> </div>
            <iframe width="480" height="315" src="https://www.youtube.com/embed/9J6Tq0RIf14"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>



            <br><br>

            <a href="#order_form" class="button-m" style=" font-size: 19px; ">Замовити дитячий спальник</a>
        </section>

        <section class="sect_4 dark_bg">
            <h2 class="title">Відгуки наших <br>покупцiв</h2>
            <div class="reviews">
                <div class="rev_item">
                    <p class="name">
                        <span>Купила дитині, вона просто в захваті. </span>
                    </p>
                    <p class="text">
                        Іграшка-спальник та ще й подушка - стали другом моєму хлопчику. Якість супер, яскравий колір та
                        приємна тканина до тіла. Можна лягати спати без піжамки. Від сервісу магазину тех в захваті!
                    </p>
                    <div class="author"><span> Надія</span>, м.Тернопіль </div>
                </div>
                <div class="rev_item">
                    <p class="name"><span>РЕКОМЕНДУЮ!</span></p>
                    <p class="text">
                        Ми купили племінникам і дуже задоволені. Блискавка якісна і не випускає тепло зі спальника.
                        Купуватимемо ще на новорічні подарунки. Товар отримала дуже швидко.
                    </p>
                    <div class="author">
                        <span>Христина</span>, м. Київ
                    </div>
                </div>
                <div class="rev_item">
                    <p class="name">
                        <span>100% цей спальник-іграшку куплю ще раз!</span>
                    </p>
                    <p class="text">
                        Тепло, затишно, в ньому можна читати книги, дивитися мультфільми або малювати. Супер що у
                        подарунок йде Малюй світлом – діти щасливі, а ми батьки задоволені, що дитина у теплі.
                    </p>
                    <div class="author"><span>Олександра</span>, м. Луцьк </div>
                </div>
            </div>
            <a href="#order_form" class="button-m">ЗАМОВИТИ ЗІ ЗНИЖКОЮ</a>
        </section>
        <!--/sect_4-->
        <!--sect_5-->
        <section class="sect_5">
            <h2 class="title"><span>Доставка і оплата</span></h2>
            <ul class="list">
                <li class="clearfix">
                    <img src="images/order_1.jpg" alt>
                    <div class="text">
                        <h4>Швидка доставка</h4>
                        <p>Доставка поштою протягом 1-3 днів.</p>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="images/order_2.jpg" alt>
                    <div class="text">
                        <h4>Зручна оплата</h4>
                        <p>
                            Оплата здійснюється тільки при отриманні замовлення на руки.
                        </p>
                    </div>
                </li>
            </ul>
        </section>
        <!--/sect_5-->
        <!--b2-->
        <section class="b2">
            <h2 class="title">Гарантія якості <span> чудова ціна!</span></h2>
            <!--list-v2-->
            <ul class="list-v2">
                <li>
                    <b>Міцність</b>
                    <p>
                        Якісна тканина для прання та гіпоалергенна.
                    </p>
                </li>
                <li>
                    <b>Практичність</b>
                    <p>
                        Ця весела подушка - ідеальний компаньйон для перегляду фільмів, ігор, читання книги, ночівлі,
                        подорожей, відпочинку і просто відмінний аксесуар для дитячої кімнати.
                    </p>
                </li>
                <li>
                    <b>Низька ціна</b>
                    <p>
                        Ви купуєте товар безпосередньо у виробника без посередників. Ми гарантуємо якість товару і
                        низьку ціну.
                    </p>
                </li>
            </ul>
            <!--/list-v2-->
        </section>
        <!--/b2-->
        <!--offer_section-->
        <section class="offer_section">
            <h1 class="main_title"><span>Багатофункціональний</span> дитячий спальник</h1>
            <div class="offer_image">

                <img class="offer_product" src="images/site1.jpeg" alt>
                {{!-- <div class="sale">
                    <p><b>-42%</b><span>Знижка</span></p>
                </div> --}}
                <!-- <div class="year">2021</div> -->
            </div>
            <div class="price clearfix">
                <div class="old">
                    <p>Регулярна ціна:</p>
                    <span>1350</span><small>грн</small>
                </div>
                <div class="new">
                    <p>Ціна акційна:</p>
                    <span>699</span><small>грн</small>
                </div>
            </div>
            <div class="date_sale">
                * Пропозиція дійсна <br>з 15.11.2023
                {{!--
                <script>
                    dayMs = 86400000 * 7;
                    Data = new Date(new Date() - dayMs);
                    Year = Data.getFullYear();
                    Month = Data.getMonth() + 1;
                    Day = Data.getDate();
                    if (Day < 10) {
                        Day = "0" + Day;
                    }
                    if (Month < 10) {
                        Month = "0" + Month;
                    }
                    document.write("" + Day + "." + Month + "." + Year + "");
                </script> --}}
                по 25.11.2023
                {{!--
                <script>
                    dayMs = 86400000 * 0;
                    Data = new Date(new Date() - dayMs);
                    Year = Data.getFullYear();
                    Month = Data.getMonth() + 1;
                    Day = Data.getDate();
                    if (Day < 10) {
                        Day = "0" + Day;
                    }
                    if (Month < 10) {
                        Month = "0" + Month;
                    }
                    document.write("" + Day + "." + Month + "." + Year + "");
                </script> --}}
                Включно.
            </div>
            <div class="timer_block clearfix">
                {{!-- <p>До кінця дії залишилося:</p> --}}
                <div class="timer clearfix">
                    {{!-- <div id="countdown-two" class="countdown">
                        <div class="countdown-number days">
                            <span class="days countdown-time "></span>
                            <span class="countdown-text">Days</span>
                        </div>
                        <div class="countdown-number">
                            <span class="hours countdown-time"></span>
                            <span class="countdown-text">Години</span>
                        </div>
                        <div class="countdown-number">
                            <span class="minutes countdown-time"></span>
                            <span class="countdown-text">Хвилина</span>
                        </div>
                        <div class="countdown-number">
                            <span class="seconds countdown-time"></span>
                            <span class="countdown-text">Секунда</span>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="action_text">
                <span>Залишити заявку</span>
            </div>

            <form id="order_form" method="POST" action="zakaz.php" class="main-order-form main_form">
                <!--<select name="comment" class="field" data-js="select-sale">
						<option selected="" value="1">▼ Обрати кiлькiсть (шт.)</option>
						<option value="1" data-id="1">1шт. </option>
						<option value="2" data-id="2">2шт. </option>
						<option value="3" data-id="3">3шт.</option>
						<option value="4" data-id="4">4шт. </option>

                    </select>-->
                <input class="text__blo" type="text" name="name" placeholder="Введіть ваше ім'я" required>
                <input class="text__blo" type="phone" name="phone" placeholder="Введіть ваш телефон" required
                    autocomplete="true">
                <input type="hidden" name="product" id="hiddenProduct" value="Багатофункціональний дитячий спальник"
                    hidden="hidden" />
                <input type="hidden" name="type" value="offer">
                <a href="https://t.me/+380635472362?start=I want to order" class="button-m">ЗАМОВИТИ ЗІ ЗНИЖКОЮ</a>

            </form>



            <!--  <form id="order_form" class="main-order-form main_form" >
         <input type="text" name="name" placeholder="Введите ваше имя" required="">
         <input type="tel" name="phone" placeholder="Введите ваш телефон" required="">
         <button class="button-m">ЗАМОВИТИ ЗІ ЗНИЖКОЮ</button>
      <input type="hidden" name="l" value="c359b0e6012c57f0e8c314d1027ceb471e5320e4" />
<input type="hidden" name="470dc2bb5e0a38c746aff6359d3cda434f4efb3c" value="YWJlOTRkNGJmYWExMDc2OTkzM2E0NGJlMTIxMjFiMWMxMTg=" />
</form> -->
            <div class="products_count">
                Залишилося товару по акції: <span>9 шт.</span>
            </div>
        </section>
        <!--/offer_section-->
        <!--footer_section-->
        <footer class="footer_section">
            <center>
                <p style="color: black">
                    <!--   ТОВ "ТвійВсесіт" вул. Пушкінська, буд. 2а. Харків, 61000 -->
                </p>

                <a style="color: black" href="mailto:yourworldT@gmail.com"><span
                        class="__cf_email__">yevhench95@gmail.com</span></a>
                <div>
                    <a style="color: black" href="https://policy.deliverygoooods.com/ua/" target="_blank">Політика
                        конфіденційності</a>
                    <a style="color: black" href="https://policy.deliverygoooods.com/ua/agreement.html"
                        target="_blank">Умови повернення</a>
                    <a style="color: black" href="https://policy.deliverygoooods.com/ua/return.html"
                        target="_blank">Політика обміну та повернення</a>
                </div>
            </center>
        </footer>
        <!--/footer_section-->
    </div>
    <!--/main_wrapper-->

    <link type="text/css" rel="stylesheet" href="css/roboto.css">

    <div id="overlay-popup-m1"></div>

    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script data-cfasync="false" src="https://kids.nucclus.site/js/email-decode.min.js"></script>
    <script src="https://kids.nucclus.site/js/jquery.min.js"></script>
    <script src="js/main.js"></script>

    <script async defer src="https://kids.nucclus.site/js/analytics.js"></script>


</body>

</html>